.user-card {
    padding: 30px;
    cursor: pointer;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 10px rgb(25 25 25 / 35%);
  }
  .user-card:hover {
    box-shadow: 0 0 25px 15px rgb(25 25 25 / 35%);
  }
  .user-card .card-title {
    margin-top: 20px;
  }
  .user-card .card-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }
  .user-card .avatar {
    width: 240px;
    justify-content: center;
        display: flex;
    margin: auto;
  }
  .user-card .avatar img {
    border: solid 6px transparent;
    border-radius: 50%;
    width: 150px;
    
  }
  .user-card .card:hover .avatar img {
    border-color: rgb(99, 204, 131);
  }