* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-mode-bg-color: #1E212D;
    --dark-mode-font-color: #FFC478;
    --dark-mode-icon-color: #43485B;
    --dark-mode-icon-color-hover: #FFC478;
    --box-shadow-color: rgba(0, 0, 0, 0.493);
    --light-mode-bg-color: #FFF3D2;
    --light-mode-font-color: #000;
}

.centerBar {
    background: var(--dark-mode-bg-color);
    border-radius: 20px 20px;
    position:absolute;  
    left:15%;
    right:202px;
    top:10%;
    width: 50%;
    height: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 25px;
    box-shadow: 3px 5px 44px var(--box-shadow-color);
}

.centerImage {
    height: 102%;
    padding-left: 30px;
    margin-right: 50px;
}

.paragraph {
    width: 70%;
    /* padding-top: 10px;*/
    text-align: center;
    /* padding: 25px 0; */
    margin: auto;
    top: 12px;
}

.centerBar p {
    color: var(--dark-mode-font-color);
    font-size: 30px;

}

.vl {
    border-left: 1px solid var(--dark-mode-font-color);
    height: 80%;
    margin: auto;
  }

@media only screen and (max-width: 768px) {
    .centerBar  {
      left: 99px;
    }

    .centerBar p {
        font-size: 22px;
    }

    .centerImage {
        padding-left: 0px;
        margin-right: 5px;
    }  
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1439px) {
    .centerBar  {
      left: 15%;
      height: 154px;
    }

    .centerBar p {
        font-size: 25px;
    }

    .centerImage {
        padding-left: 19px;
        margin-right: 44px;
    } 
}

@media only screen and (min-device-width: 2560px) {
      .centerBar  {
        left: 15.5%;
        height: 18%;
      }

      .centerBar p {
          font-size: 50px;
      }

      .centerImage {
          height: 257px;
          padding-left: 70px;
          margin-right: 90px;
      }
}

/* @media only screen and (min-width: 425px) {
    .centerBar  {
      left: 99px;
    }

    .centerBar p {
        font-size: 22px;
    }

    .centerImage {
        padding-left: 0px;
        margin-right: 5px;
    }  
} */