html {
	overflow-y: scroll;
	height: calc(100vh - 127px);
}

.container-doc {
	width: 100%;
	height: 85vh;
	padding: 20px 0;
	box-sizing: border-box;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	display: grid;
	grid-gap: 50px 50px;
	grid-template-columns: auto auto auto;
}
.container-doc a {
	text-decoration: none;
}

.sub-container {
	margin-top:85%;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#09090c;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float:hover {
	cursor: pointer;
}

.my-float{
	margin-top:18px;
}

.filter-search {
	position: absolute;
    top: 35%;
	left: 50%;
	transform: translate(-50%, 50%);
    border: 0;
}

.filter-search .search {
	font-weight: 600;
	margin-right: 10px;
}