@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #F0FCF9 0%, #FCFBF0 0%, #485463 0.01%, #4F6989 51.04%, #324153 100%, #324153 100%);
  /* background-image: linear-gradient(to bottom right,#FCFBF0, #FFECB8, #FFDC7C); */
}

code {
  font-family: 'Poppins', sans-serif;
}
