* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-mode-bg-color: #3F4D5D;
    --dark-mode-font-color: #fff;
    --box-shadow-color: rgba(0, 0, 0, 0.25);
    --light-mode-bg-color: #FFF3D2;
    --light-mode-font-color: #000;
}

.progressBar {
    background: var(--dark-mode-bg-color);
    border-radius: 20px 0 0 20px;
    position:absolute; 
    right:0; 
    top:0;
    width: 23%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 25px;
    box-shadow: -8px 18px 44px var(--box-shadow-color);
}

.progressBar p {
    color: var(--dark-mode-font-color);
    font-size:20px;
    font-weight: 700;
    background-color: none;
}