* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background: #3F4D5E;
    border-radius: 0 20px 20px 0;
    width: 12%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

