* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-mode-bg-color: #1E212D;
    --dark-mode-font-color: #FFC478;
    --dark-mode-icon-color: #43485B;
    --dark-mode-icon-color-hover: #FFC478;
    --box-shadow-color: rgba(0, 0, 0, 0.493);
    --light-mode-bg-color: #FFF3D2;
    --light-mode-font-color: #000;
}

.profileText {
    color: var(--dark-mode-font-color);
    font-size: 18px;
    position: absolute;
    top: 4%;
    left: 14%;
    font-weight: 700;
}